*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: $orange;
}

main, nav, footer, aside {
    margin: auto 2.5rem;
}

.main {
    margin: auto 1.2rem;
}

html, body {
    background: $main-color;
    color: $white;
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
}

#root {
    position: relative;
}

body, html {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.734) 100%, transparent 0%), url("../../img/—Pngtree—board lines_1038031.png");
    background-repeat: repeat;
    background-blend-mode: multiply;

    // background-position: 0 0;
    animation: bgMoving 4s linear infinite forwards, bgChanging 20s linear infinite;

    // background-size: cover;
    // background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
    padding-bottom: 1rem;
}

p {
    line-height: 1.6;
}

@keyframes bgMoving {
    from {
        background-position: 0rem -3rem;
    }

    to {
        background-position: 5rem 0rem;
    }
}

@keyframes bgChanging {
    0% {
        background-color: darkblue;
    }

    10% {
        background-color: darkcyan;
    }

    20% {
        background-color: darkgoldenrod;
    }

    40% {
        background-color: darkgray;
    }

    50% {
        background-color: darkgreen;
    }

    60% {
        background-color: darkgrey;
    }

    70% {
        background-color: darkolivegreen;
    }

    80% {
        background-color: darkkhaki;
    }

    85% {
        background-color: darkorange;
    }

    90% {
        background-color: darkseagreen;
    }

    95% {
        background-color: darkslategrey;
    }

    100% {
        background-color: darkslateblue;
    }
}
