.btn {
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    translate: transformY(2px);
    font-family: 'Orbitron', sans-serif;
    padding: .7rem 2.5rem;
}

.btn-large {
    padding: 1.2rem 3.5rem;
    font-size: 1em;
}

.cta-btn {
    background-color: $orange;
    color: $main-color;
    box-shadow: 0px 6px 30px rgba(255, 68, 0, 0.13);

    @extend .btn;

    @extend .btn-large;

    // text-transform: uppercase;
}

.btn-outline {
    @extend .btn;

    background-color: transparent;
    color: $white;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    transition: all  .2s ease-out;

    &:hover {
        border-color: $white;
        color: $orange;
    }
}

.btn-outline-orange {
    @extend .btn-outline;

    border-color: $orange;

    &:hover {
        background-color: $orange;
        color: $main-color;
    }
}

.btn-outline-white {
    @extend .btn-outline;

    border-color: $white;

    &:hover {
        background-color: $white;
        color: $main-color;
    }
}

.btn-orange {
    background-color: $orange;
    color: $main-color;

    @extend .btn;
}

.btn-white {
    background-color: $white;
    color: $orange;

    @extend .btn;
}
