.cta-btn {
    background-color: $orange;
    color: $main-color;
    padding: 1.2rem 3.5rem;
    box-shadow: 0px 6px 30px rgba(255, 68, 0, 0.13);
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    translate: transformY(2px);
    font-family: 'Orbitron', sans-serif;

    // text-transform: uppercase;
}
