.flex {
  display: flex;
}

.d-row {
  flex-direction: row;
}

.d-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-even {
  justify-content: space-evenly;
}
