@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron:wght@400;500;600;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: orangered;
}

main, nav, footer, aside {
  margin: auto 2.5rem;
}

html, body {
  background: #1e1d1d;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  display: flex;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}

#root {
  position: relative;
}

body, html {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.734) 100%, transparent 0%), url("../../img/—Pngtree—board lines_1038031.png");
  background-repeat: repeat;
  background-blend-mode: multiply;
  animation: bgMoving 4s linear infinite forwards;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 1rem;
}

@keyframes bgMoving {
  from {
    background-position: 0rem -3rem;
  }
  to {
    background-position: 5rem 0rem;
  }
}

nav {
  box-shadow: 0px 5px 15px rgba(1, 1, 1, 0.15);
  position: absolute;
  background-color: #1e1d1d;
  left: 0px;
  top: 105px;
  width: -webkit-fill-available;
  height: 30rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  visibility: hidden;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  padding-top: 1rem;
}

li a {
  text-decoration: none;
  color: #fff;
  padding-top: 1rem;
}

li a:hover, li:hover {
  color: #FE815B;
}

.hamburger {
  margin: auto 1.5rem;
  margin-top: 2rem;
}

.flex {
  display: flex;
}

.d-row {
  flex-direction: row;
}

.d-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-even {
  justify-content: space-evenly;
}

.btn, .cta-btn, .btn-outline, .btn-outline-orange, .btn-outline-white, .btn-orange, .btn-white {
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  translate: transformY(2px);
  font-family: 'Orbitron', sans-serif;
  padding: .7rem 2.5rem;
}

.btn-large, .cta-btn {
  padding: 1.2rem 3.5rem;
  font-size: 1em;
}

.cta-btn {
  background-color: orangered;
  color: #1e1d1d;
  box-shadow: 0px 6px 30px rgba(255, 68, 0, 0.13);
}

.btn-outline, .btn-outline-orange, .btn-outline-white {
  background-color: transparent;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition: all  .2s ease-out;
}

.btn-outline:hover, .btn-outline-orange:hover, .btn-outline-white:hover {
  border-color: #fff;
  color: orangered;
}

.btn-outline-orange {
  border-color: orangered;
}

.btn-outline-orange:hover {
  background-color: orangered;
  color: #1e1d1d;
}

.btn-outline-white {
  border-color: #fff;
}

.btn-outline-white:hover {
  background-color: #fff;
  color: #1e1d1d;
}

.btn-orange {
  background-color: orangered;
  color: #1e1d1d;
}

.btn-white {
  background-color: #fff;
  color: orangered;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  object-fit: fill;
}

.info-para {
  text-align: center;
  line-height: 1.6;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.info {
  align-items: center;
}

.info, .cta, .profile {
  margin: 1rem auto;
}

.underline {
  background: linear-gradient(to top, orangered 30%, transparent 70%);
}

.skill-container {
  align-items: center;
  margin-bottom: 2rem;
}

.skill-container img {
  width: 1.7rem;
}

.card-img {
  width: 12rem;
  height: 8rem;
}
